*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 16px;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1,
section h2{
    font-family: 'Bungee', cursive;
}

section h3,
section p{
    font-family: 'Roboto', sans-serif;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: central;
    justify-content: space-between;
}

.lista_marcas img{
    height: 24px;
}

.lista_marcas li{
    display: inline;
    margin: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: #182c61;
}

section p{
    margin-bottom: 8px;
}

.store_facede{
    margin-right: 32px;
}

#contact .container{
    display: block;
}

.methods-contacts{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
}

form button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #314e90;
}

input:focus, textarea:focus{
    outline-color: #182c61;
}

form textarea{
    resize: none;
    height: 180px;
}

.social-link img{
    height: 24px;
}

.social-link li{
    display: inline;
    margin-right: 8px;
}

.social-link li a{
    text-decoration: none;
}

#footer{
    background-color: #182c61;
    color: #ecf0f1;
}



